.registerContainer {
  max-width: 100%;
  height: 100vh;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../assets/photo9.JPG') no-repeat center center fixed;
  background-size: cover; /* Ensure the background image covers the entire container */
  position: relative;
}

.title {
  
  font-size: 1.5em;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 20px;
  right: 750px;
}

.form {
  margin-right: 450px;
  max-width: 400px;
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.8); */
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
}

.invalid {
  border-color: red;
}

.error {
  font-size: 14px;
  color: red;
  margin-top: -10px;
  margin-bottom: 10px;
}

.registerBtn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  width: 100%;
  transition: background-color 0.3s;
}

.registerBtn:hover {
  background-color: #0056b3;
}
