/* OTPCSS.module.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../../assets/photo.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  .form {
    /* background-color: rgba(255, 255, 255, 0.8); */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .input {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .button {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    width: 100%;
  }
  
  .button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  