/* Email.module.css */

.emailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background: url('../../assets/photo6.jpg') no-repeat center center fixed;
    background-size: cover;
    backdrop-filter: blur(5px);
  }
  
  .emailTitle {
    font-size: 3em;
    color: #333;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in-out;
  }
  
  .emailContent {
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    font-size: 1em;
    color: #333;
  }
  
  .formGroup {
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input, .textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .textarea {
    height: 150px;
    resize: none;
  }
  
  .submitBtn {
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submitBtn:hover {
    background-color: #0056b3;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  