/* Global styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Hero section */
.heroContent {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;
  margin-top: 90px;
  border-radius: 10px;
  display: inline-block;
}

.heroSection h1 {
  font-size: 3rem;
  margin: 0 0 20px;
  color: #fff;
}

.heroSection p {
  font-size: 1.5rem;
  margin: 0 0 30px;
  color: #fff;
}

.ctaButton {
  background-color: #ff7f50;
  color: white;
  padding: 15px 30px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 180px;
}

.ctaButton:hover {
  background-color: #ff6347;
}

/* Dashboard container */
.dashboardContainer {
  background: url('../../assets/photo5.jpg') no-repeat center center fixed;
  max-width: 100%;
  height: 100vh;
  margin: 0;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.userInfo {
  color: #fff;
}

.userName {
  font-size: 24px;
  margin-bottom: 5px;
}

.userEmail {
  font-size: 16px;
}

.card {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 30px;
  width: 100%;
  max-width: 600px;
}

.cardTitle {
  font-size: 20px;
  margin-bottom: 15px;
  color: #333;
}

.cardContent {
  color: #555;
}

.actionCard {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

.actionButtons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.actionButton,
.logoutButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.actionButton {
  background-color: #007bff;
}

.actionButton:hover {
  background-color: #0056b3;
}

.logoutButton {
  background-color: #dc3545;
}

.logoutButton:hover {
  background-color: #c82333;
}
