/* About.module.css */

.aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background: url('../../assets/photo4.jpg') no-repeat center center fixed;
    background-size: cover;
    backdrop-filter: blur(5px);
  }
  
  .aboutTitle {
    font-size: 3em;
    color: #333;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in-out;
  }
  
  .aboutContent {
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    font-size: 1em;
    color: #333;
    line-height: 1.6;
  }
  
  .aboutContent h2 {
    margin-top: 20px;
    font-size: 1.5em;
    color: #007bff;
  }
  
  .aboutContent h3 {
    margin-top: 15px;
    font-size: 1.2em;
    color: #333;
  }
  
  .aboutContent ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .aboutContent ul li {
    margin-bottom: 10px;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  