/* NavigationBar.module.css */

.navbar {
  background-color: #282c2f;
  color: #fff;
  padding: 10px 20px;
  display: flex; 
  justify-content: flex-end; /* Align navbar to the right */
  align-items: center;
}

.navList {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navItem {
  margin-left: 10px; /* Adjust margin-left for spacing between items */
}

.navLink {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navLink:hover {
  background-color: #555;
}

.head {

  font-size: 1.5rem;
  margin-right: 500px;
}

.logoutButton {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logoutButton:hover {
  background-color: #c82333;
}
